.navigation {

    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    position: sticky;
    min-height: 120px;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}

.link {

    padding: 5px;
    color:  gray;
    margin: 0 20px;
    transition: 0.5s;
    padding: 5px auto;
    text-align: center;
    position: relative;
    text-decoration: none;

    &:hover::before, &:hover::after{

        width: 100%;
        border-top: 1px solid gray;
        
    }

    &::before{

        right: 0;
        bottom: 0;

    }

    &::after{

        top: 0;
        left: 0;

    }

    &::before, &::after{

        width: 0;
        content: '';
        position: absolute;
        box-sizing: border-box;
        transition: all 0.4s linear, opacity 0.1s 0.4s;

    }

}

.active {

    color:  white;
    font-weight: bold;
    &::before, &::after{

        width: 100%;
        border-top: 1px solid white;
        
    }

}

.paragraph {

    margin: 0 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.navigation__title{

    font-size: 20px;
    font-weight: bold;
    color: yellowgreen;
    font-family: 'Silkscreen';

}

.container__links{

    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 100%, 600px);

}

.container__title{

    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 100%, 300px);

}
