*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#f2c719, #f6bb23, white);
    
}


@keyframes spin {

	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }

}
