@font-face {
    font-family: 'BIZ';
    src: url("../font/AlumniSansCollegiateOne-Regular.ttf") format("truetype");
}
 
@font-face {

    font-family: 'Silkscreen';
    src: url("../font/Silkscreen-Regular.ttf") format("truetype");
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    width: 100%;
    min-height: 100vh;
    background-color: white;
    font-family: 'Silkscreen';

}

.background_image {
    top: 0;    
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    position: fixed;
    pointer-events: none;
    background-size: 150px;
    backface-visibility: hidden;
    background: url('../assets/LoopableNoise.gif');

}

.main{

    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 120px);

}

* {

    scrollbar-width: auto;
    scrollbar-color: #2e2e2e #ffffff;

}


*::-webkit-scrollbar {

    width: 10px;

}

*::-webkit-scrollbar-track {

    background: #ffffff;

}

*::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background-color: #24292f;
    border: 3px solid #ffffff;

}